.discovery-slide-bar{

    .discovery-slides-container{

        .discovery-slide-card{
            height: 300px;
            border: 1px solid black;
            background-image: "https://res.cloudinary.com/dxajfza46/image/upload/v1685305493/molts/disovery.slide.bar/hot.right.now_gaizyt.avif";
            background-size: cover;
        }
    }
}