.filter-map-btns {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include for-normal-layout(){
        display: none;
    }

    .fillter-icon-container {
        width: 40px;
        height: 40px;
        padding: 6.4px;
        background-color: $clr8;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .map-icon-container {
        width: 40px;
        height: 40px;
        padding: 6.4px;
        background-color: $clr8;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 2rem;
    }
}