.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    background-color: $clr1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 4px 0;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 20%;
        color: $clr6;

        &.active {
            color: $clr2;
        }

        span {
            font-size: 10px;
        }
    
        svg {
            width: 20px;
        }
    
        .profile-icon {
            font-size: 20px;
        }
    }

    @include for-normal-layout() {
        position: static;
        box-shadow: none;
        border: none;
        width: 50%;
        padding: 21px 0 !important;
        gap: 8px;

        a {
            flex-basis: 33%;
            flex-direction: row;
            border-radius: 20px;
            align-items: center;
            justify-content: center;
            padding: 8px 0;

            &:hover:not(.active) {
                box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
            }

            &.active {
                color: $clr1;
                background-color: $clr2;
            }

            span {
                padding-left: 8px;
                font-size: 12px;
                font-weight: 500;
            }
        }

        .nav-search,
        .nav-profile {
            display: none;
        }
    }

    @include for-wide-layout(){
        a{
            span{
                font-size: 14px;
            }
        }
    }

}