.new-card {

    background-color: $clr15;
    width: 100%;
    max-width: 900px;
    border-radius: 1rem;

    .new-card-content-wrapper {
        max-width: 100%;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        .card-info-container {
            background-image: url("https://res.cloudinary.com/dxajfza46/image/upload/v1690798750/molts/credit-card-bg_tjjwin.png");
            background-size: contain;
            border-radius: 1rem;
            max-width: 320px;
            margin-top: 2rem;
            box-shadow: 0 4px 4px rgba(0, 0, 0, .12), 0 0 4px rgba(0, 0, 0, 6%);
            margin-bottom: 1rem;
        }

        .card-info {
            position: relative;
            overflow: hidden;
            border-radius: 1rem;
            padding: 1rem;
            background: linear-gradient(180deg, rgba(0, 157, 224, 0)0%, rgb(0, 157, 224) 100%);
            color: $clr1;
            max-width: 320px;

            span {
                position: absolute;
                top: 1rem;
                right: 1rem;
                font-size: .625rem;
                text-transform: uppercase;
                letter-spacing: .12px;
                font-weight: 500;
            }

            .card-number {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                font-size: .8rem;
                font-weight: 500;
            }

            .card-info-wrapper {
                margin-top: 0.5rem;
                display: flex;
                gap: 1rem;

                .card-expiration,
                .card-code {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    font-size: .8rem;
                    font-weight: 500;
                    width: calc((100% - 1rem) / 2);
                }
            }

            input {
                font-size: calc(0.8rem + (0.2 * (100vw - 20rem)) / 80);
                padding: 0.825rem;
                border-radius: 8px;
                color: $clr11;
                border: none;

                &::placeholder{
                    font-size: 0.8rem;
                }

                &:focus {
                    outline-color: $clr3 ;
                }
            }
        }

        .card-name {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 1rem;

            label {
                font-weight: 500;
                font-size: .8rem;
                letter-spacing: -.21px;
                margin-bottom: 0.25rem;
            }

            input {
                font-size: calc(0.8rem + (0.2 * (100vw - 20rem)) / 80);
                padding: 1rem 0.8rem;
                border-radius: 8px;
                color: $clr11;
                width: 100%;
                border: 1px solid #d2d3d3;

                &:focus {
                    outline-color: $clr2 ;
                }
            }
        }

        .use-as-default,
        .company-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 1rem;

            label {
                color: $clr11;
            }
        }

        .action-btns {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 2rem;

            button {
                font-weight: 700;
                border: none;
                border-radius: 0.5rem;
                width: calc(50% - 0.5rem);
                padding: 0.825rem 0;
            }

            .btn-cancel {
                background-color: $clr3;
                color: $clr2;

                &:hover{
                    background-color: rgb(0, 157, 224, 0.12);
                }
            }

            .btn-send {
                background-color: $clr2;
                color: $clr1;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.25rem;

                svg {
                    width: 1rem;
                }
            }
        }

        .new-card-info {
            max-width: 320px;
            text-align: center;
            font-size: .8125rem;
            color: $clr11;
            margin-bottom: 3rem;
        }
    }
}