.payment-methods {
    margin: 1rem auto;
    padding: 2.1875rem 0;

    .payment-methods-content {
        padding: 1.25rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-add-card {
            margin: 2rem;
            padding: 0px 1rem;
            min-height: 3.375rem;
            color: $clr1;
            background-color: $clr2;
            font-weight: 700;
            line-height: 1.5rem;
            font-size: 1rem;
            border: none;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            svg{
                width: 1rem;
            }
        }
    }
}