.search-list {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 35rem;
    max-width: 100vw;
    max-height: calc(100vh - 4.375rem);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0.25rem 0px, rgba(0, 0, 0, 0.12) 0px 0.25rem 0.25rem 0px;
    background-color: $clr1;
    position: absolute;
    top: calc(100% + 0.75rem);

    .search-list-no-results {
        padding: 1.5rem;
        text-align: center;
    }

    .svg-container {
        position: absolute;
        top: -0.7rem;
        width: 1.5rem;
        left: calc(50% - 0.75rem);
        // height: 3.5rem;
        height: min-content;
        display: flex;
        align-items: center;

        svg {
            filter: drop-shadow(rgba(0, 0, 0, 0.09) 0px 0px 2px);
            fill: $clr1;

            .arrow-shadow {
                fill: rgb(210, 210, 210) !important;
            }
        }
    }

    .search-list-content {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .search-list-separator {
            border-bottom: 1px solid $clr7;
        }
    }

    .search-list-footer {
        box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0.75rem 0px, rgba(0, 0, 0, 0.12) 0px 0.75rem 0.75rem 0px;
        padding: 1.5rem;
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: $clr2;
        text-align: center;
        font-weight: 600;

        span {
            cursor: pointer;
        }
    }
}