// General initial conditions for all elements
* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    @include for-normal-layout() {
        font-size: 14px;
    }

    @include for-wide-layout() {
        font-size: 16px;
    }

}

body {
    margin: 0;

}

a {
    text-decoration: none;
    cursor: pointer;

    &:visited {
        color: inherit;
    }
}

button {
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img,
embed,
video,
object {
    max-width: 100%
}

::-webkit-scrollbar {
    width: 8px;
    -webkit-border-radius: 100px;
    background: none;
    transition: max-width 3s;
    // background-clip: padding-box;

    &:hover {
        background-color: rgba(170, 170, 170, 0.4);
        width: 16px;
    }
}

::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0, 0, 0, 0.2);
    // border: 4px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 100px;
    background-clip: padding-box;

    &:hover {
        // background-color: #aaa;
        border: 8px solid #aaa;
    }
}