.full {
    width: 100vw;
}

.main-layout {
    height: inherit;

    >*:not(.full) {
        margin: 0 auto;
        padding-left: $padding-mobile;
        padding-right: $padding-mobile;
        max-width: 1400px;

        @include for-normal-layout() {
            padding-left: $padding-normal;
            padding-right: $padding-normal;
        }

        @include for-wide-layout() {
            padding-left: $padding-wide;
            padding-right: $padding-wide;
        }
    }
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    height: 100%;

    main {
        flex-grow: 1;
        width: 100%;
        padding-top: 60px;

        @include for-normal-layout(){
            padding-top: 120px;
        }

        @include for-wide-layout() {
            padding-top: 60px;
        }
    }
}