.full {
    width: 100vw;
}

.main-layout {
    height: inherit;

    >*:not(.full) {
        margin: 0 auto;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        max-width: 1400px;

        @include for-normal-layout(){
            padding-left: 1.2rem;
            padding-right: 1.2rem;
        }

        @include for-wide-layout() {
            padding-left: 1.6rem;
            padding-right: 1.6rem;
        }
    }
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex-grow: 1;
        width: 100%;
        padding-top: 130px;

        @include for-wide-layout() {
            padding-top: 60px;
        }

    }
}