.full {
    width: 100vw;
}

.main-layout {
    height: inherit;

    >*:not(.full) {
        margin: 0 auto;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        max-width: 1400px;
    }
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex-grow: 1;
        width: 100%;
        padding-top: 130px;

        @include for-wide-layout(){
            padding-top: 60px ;
        }
        
    }
}

