.restaurants {
    padding: 28px 0 !important;
    

    .restauranst-title-container {
        display: flex;
        justify-content: space-between;

        .restaurants-title {
            font-family: Omnes-Bold;
            font-size: 40.25px;
        }

        .restaurants-title-tail{
            display: none;
        }

        .fillter-container {
            display: none;

            &:hover{
                .fillter-icon-container{
                    background-color: $clr9;
                }
            }

            .fillter-title {
                display: none;
                font-weight: 550;
                padding: 8px 0;
                cursor: pointer;
            }

            .fillter-icon-container {
                width: 32px;
                height: 32px;
                padding: 6.4px;
                background-color: $clr3;
                border-radius: 50%;
                cursor: pointer;
            }

            @include for-narrow-layout(){
                display: flex;
                gap: 4px;
                color: $clr2;
                align-items: end;
                width: max-content;
            }
        }

        @include for-narrow-layout(){
            .fillter-title {
                display: inline !important;
            }
        }

        @include for-normal-layout(){
            padding-bottom: 17.5px;
            .restaurants-title-tail {
                display: inline !important;
            }
        }
    }
}