@font-face {
    font-family: Omnes-Bold;
    src: url(../../fonts/omnes/omnes.bold.otf);
}

@font-face {
    font-family: Omnes-Regular;
    src: url(../../fonts/omnes/omnes.regular.otf);
}
@font-face {
    font-family: Omnes-Medium;
    src: url(../../fonts/omnes/omnes.medium.otf);
}