// COLORS

$clr1: #ffffff;
$clr2: #009DE0;
$clr3: #009DE014;
$clr4: #f2f2f23d;
$clr5: #ffffff33;
$clr6: #202125a3;
$clr7: rgba(32, 33, 37, 0.122);
$clr8: rgba(32, 33, 37, 0.078);
$clr9: #009DE030;
$clr10: rgba(32, 33, 37, 0.16);

$list-gap: 1rem;

$padding-mobile: 0.8rem;
$padding-normal: 1.2rem;
$padding-wide: 1.6rem;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 620px;
$normal-breakpoint: 860px;