// COLORS

$clr1: #ffffff;
$clr2: #009DE0;
$clr3: #009DE014;
$clr4: #f2f2f23d;
$clr5: #ffffff33;
$clr6: #202125a3;
$clr7: #2021251f;
$clr8: #20212514;
$clr9: #009DE030;
$clr10: #20212529;
$clr11: #202125;
$clr12: #202125A3;
$clr13: #20212547;
$clr14: #20212566;

$list-gap: 1rem;

$padding-mobile: 0.8rem;
$padding-normal: 1.2rem;
$padding-wide: 1.6rem;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 620px;
$normal-breakpoint: 860px;